.main {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    text-align: center;
    padding-top: 75px;
}

.main input {
    width: 300px;
    height: 40px;
    border-radius: 4px 4px 4px 4px;
    opacity: 1;
    border: 1px solid #707070;
}

.main h4 {
    width: 630px;
    height: 46px;
    background: #F5EAD9;
    border-radius: 4px 4px 4px 4px;
    opacity: 1;
    line-height: 46px;
    text-align: left;
    padding-left: 40px;
    font-size: 18px;
    font-weight: bold;
    color: #745E3A;
    padding: 0 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img {
    display: flex;
    padding: 41px 0 31px;
}

.img img {
    width: 110px;
    height: 140px;
}

.img .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.right .img .text p {
    padding-left: 18px;
}

h5 {
    font-size: 18px;
    font-weight: bold;
    color: #745E3A;
    display: flex;
    padding: 0 43px 28px 18px;
    width: 520px;
    justify-content: space-between;
}

h5 span {
    font-size: 18px;
    color: #D64537;
}

.main button {
    width: 260px;
    height: 40px;
    background: #FFC72C;
    border-radius: 20px 20px 20px 20px;
    opacity: 1;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    border: 0;
}

.main .right p {
    font-size: 18px;
    display: flex;
    color: #745E3A;
    justify-content: space-between;
    padding: 14px 45px;
}

.main .right p span {
    font-size: 18px;
    color: #D64537;
}

.main .right ul li p {
    display: flex;
    justify-content: space-between;
    padding: 0 45px;
    line-height: 40px;

}

.main .right ul li p span {
    width: 40px;
    text-align: left;
    font-size: 18px;
    color: #745E3A;
}

.main .right ul li:nth-child(1) p span,
.main .right ul li:nth-child(2) p span {
    font-family: Libre Caslon Text-Regular, Libre Caslon Text;
    color: #D64537;
}

.main .right ul li:last-child p {
    margin-top: 30px;
    position: relative;

}

.main .right ul li:last-child p::before {
    content: "";
    position: absolute;
    width: 630px;
    height: 0px;
    opacity: 1;
    border: 2px solid #707070;
    top: -15px;
    left: 0;
}

#an {
    width: 16px;
    height: 16px;
    color: #FFC72C;
    border-radius: 2px 2px 2px 2px;
    opacity: 1;
}

.main .left ul li input {
    margin: 12px 15px;

}

.main .left ul li input:nth-child(2) {
    padding: 0 12px;
}

.main .left ul li input:nth-child(1) {
    margin-left: 0;
    padding: 0 40px;
}

.main .left ul li:nth-child(2) input:first-child {
    width: 455px;
    height: 40px;
    border-radius: 4px 4px 4px 4px;
    opacity: 1;
    border: 1px solid #707070;
}

.main .left ul li:nth-child(2) input:last-child {
    width: 147px;
    height: 40px;
    border-radius: 4px 4px 4px 4px;
    opacity: 1;
    border: 1px solid #707070;
}

.inp {
    margin: 24px 0 37px;
}

.main .left button {
    margin-bottom: 30px;
}

.left p {
    font-size: 18px;
    font-weight: 400;
    color: #745E3A;
    line-height: 55px;
    text-align: left;
    padding-left: 40px;
}

.left img {
    margin-top: 25px;
    padding-left: 40px;
}